<!DOCTYPE html>
<html ng-app="TTTApp">
<head>
	<title>TTT Reference Step 1</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
	<script src="main.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css' href="style.css">
</head>
<body>
	<h1> TIC. <em>CAT.</em> TOE.</h1> 
	<div ng-controller="TTTController">
		<button class="resetbutton" ng-click="testJS()">PLAY MEOW</button>
		
		<div class="theBox">
			<div ng-repeat="currentCell in cellList">
				  <div class="allCellsAlways" ng-click="playerPicks(currentCell)" 
				ng-class="{xclass: currentCell.status=='X', oclass: currentCell.status=='O'}">
			</div>
		</div>
		<div x-ng-bind="notification" class="notification">
	</div>

		</div>
	</div>
	<br>
	<!-- {{testString}} -->
	<p></p>
	
</div>

</body>
</html>