<!DOCTYPE html>
<html ng-app="TTTApp">
<head>
	<title> TIC CAT TOE</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css' href="style.css">
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script> 

	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
	<!-- App javascript -->
	<script src="main.js"></script>
</head>
<body>
	<div ng-controller="TTTController" ng-model ="gameContainer">

		<h1> TIC. <em>CAT.</em> TOE.</h1> 
		<button class="button" x-ng-click="testJS()">RESET MEOW</button>

		<div class="theBox">
			<div ng-repeat="currentCell in gameContainer.cellListArray">
				<div class="allCellsAlways" x-ng-click="playerPicks(currentCell)" 
				x-ng-class="{xclass: currentCell.status=='X', oclass: currentCell.status=='O'}">
			</div>
		</div>

		<div x-ng-class="{xWin : gameContainer.gameState == 1, oWin : gameContainer.gameState == 2, catsGame : gameContainer.gameState == 3}">
		</div>
			<div class="xWinLeft" x-ng-show="gameContainer.gameState == 1"><img src="images/zombie-kitteh.gif"> 
			</div>
			<div class="xWinRight" x-ng-show="gameContainer.gameState == 1"><img src="images/zombie-kitteh.gif">
			</div>
			<div class="oWinRight" x-ng-show="gameContainer.gameState == 2"><img src="images/Dancing kitten.gif">
			</div>
			<div class="oWinLeft" x-ng-show="gameContainer.gameState == 2"><img src="images/Dancing kitten.gif">
			</div>
			<div class="catsGame" x-ng-show="gameContainer.gameState == 3"><img src="images/kittensgame.gif">
			</div>

	<div class="clearFix"></div>
</div>
</div>
<br>
<!-- {{testString}} -->
<p></p>


</body>
</html>