body {
	background: rgb(164,212,216);
	font-family: 'Shadows Into Light', cursive;
	width: 100%;
}

.xWinLeft {
	font-color: black;
	font-size: 30px;
    position: absolute;
    margin-left: 500px;
    margin-bottom: 500px;
    z-index: 1;
}	
.xWinRight {
	font-color: black;
	font-size: 30px;
    position: absolute;
    margin-right: 700px;
    margin-bottom: 500px;
	z-index: 1;
}


.oWinLeft {
	font-color: black;
	font-size: 30px;
    position: absolute;
    margin-left: 500px;
    margin-bottom: 500px;
    z-index: 1;

}

.oWinRight {
	font-color: black;
	font-size: 30px;
    position: absolute;
    margin-right: 500px;
    margin-bottom: 500px;
    z-index: 1;
}

.catsGame {
	background-color: yellow;
}


h1 {
	color: white;
	font-size: 80px;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;

}

.button {
	/*margin-left: 47%;
	margin-top: 20px;
	margin-bottom: 20px;*/
	position: absolute;
	top: 650px;
	left: 680px;
	background-color: black;
	color: white;
	border-top: 1px solid #96d1f8;
	border-radius: 40px;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	
}


.theBox {
	width: 468px;
	height: 468px;
	border-style: solid;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 10px 10px 5px #888888;

}

.allCellsAlways:hover {
	background-color: rgb(107,7,37);
	border-color: white;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
}

.allCellsAlways {
	width: 150px;
	height: 150px;
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
	border-style: solid;
	border-color: white;
}

.xclass {
	background-image: url("images/x.jpg");
}

.oclass {
	background-image: url("images/o.jpeg");
}

 
